<div class="hero">
  <div class="container" >
    <h2>Astronaut Abs</h2>
     <p class ="dirp">Yeah you know Matthew McConaughey he does abs... Probably. Anyways use this site to get out of this world abs.</p>
    
    <a href= "categories/1" >try it out</a>
  </div>
</div>

<div class="main">
  <div class="container">
  <h2>Popular Workouts</h2>
    <% @categories.each do |c| %>
    <div class="movie">
      <%= image_tag c.image %>
      <h3><%= c.title %></h3>
      <%= link_to "Try it out", category_path(c) %>
    </div>
    <% end %>
  </div>
</div>